<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<!--Mensaje de alerta -->
	<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true" />
	<center>
		<h1>Listado de productos del usuario ( #{listadoBean.usuario} )</h1>
	</center>
<h:form id="form">
	<p:dataTable id="radioDT" var="producto" value="#{listadoBean.listaProductos}"
		selection="#{listadoBean.productoSeleccionado}" rowKey="#{producto.idProducto}">
		<f:facet name="header">
            RadioButton
        </f:facet>
		<p:column selectionMode="single" style="width:16px;text-align:center" />
		<p:column headerText="Id">
			<h:outputText value="#{producto.idProducto}" />
		</p:column>
		<p:column headerText="Nombre">
			<h:outputText value="#{producto.nombre}" />
		</p:column>
		<p:column headerText="Descripción">
			<h:outputText value="#{producto.descripcion}" />
		</p:column>	
		<f:facet name="footer">
			<p:commandButton process="radioDT" update=":form :formDialogo"
				icon="ui-icon-search" value="View"
				oncomplete="PF('carDialog').show()" />
		</f:facet>
	</p:dataTable>
</h:form>
	<p:dialog header="Registra Producto" modal="true" showEffect="fade" widgetVar="carDialog"
		height="400" resizable="false">
		<h:form id="formDialogo">
			<p:panel id="panel" style="margin-bottom:10px;">
				<h:panelGrid columns="2" cellpadding="5">

					<h:outputLabel for="id" value="ID:" />
					<p:inputText id="id"
						value="#{listadoBean.productoSeleccionado.idProducto}" />

					<h:outputLabel for="nombre" value="Nombre:" />
					<p:inputTextarea id="nombre" cols="22"
						value="#{listadoBean.productoSeleccionado.nombre}" />

					<h:outputLabel for="descripcion" value="Descripcion:" />
					<p:inputText id="descripcion" value="#{listadoBean.productoSeleccionado.descripcion}" />
				</h:panelGrid>
			</p:panel>

			<p:commandButton value="Guardar" action="#{listadoBean.guardar}"
				update=":formDialogo" />
			<p:commandButton value="Cancelar" onclick="PF('carDialog').hide();" />

		</h:form>
	</p:dialog>

</h:body>
</html>