<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<!--Mensaje de alerta -->
	<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true" />

	<center>
		<h1 style="color: #546e7a;font-weight: bold;">Listado de productos del usuario ( #{listadoBean.usuario} )</h1>
	</center>

	<h:form id="form">

		<p:separator />

		<p:dataTable widgetVar="productTable"
			value="#{listadoBean.listaProductos}" 
			var="producto" 
			
			filteredValue="#{listadoBean.listaProductosFilter}"
			 
			rows="5"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="3,5,10,15">
			<f:facet name="header">
				<p:outputPanel>
				
					<p:commandButton value="Registrar Producto"
						action="#{listadoBean.nuevoProducto}" 
						update=":formDialogo" />
					<!--<
					p:commandButton value="Registrar Producto"
						action="# {listadoBean.registroProducto}" />-->
					<p:commandButton value="Salir" 
						action="#{listadoBean.salir}" />
					<p:autoComplete id="acSimple" 
						value="#{listadoBean.txt1}"
						completeMethod="#{listadoBean.completeText}" placeholder="Buscar..." />
				</p:outputPanel>
			</f:facet>
			<p:column headerText="Id" width="5%">
				<h:outputText value="#{producto.idProducto}" />
			</p:column>

			<p:column headerText="Nombre" 
				filterBy="#{producto.nombre}"
				filterMatchMode="contains">
				<h:outputText value="#{producto.nombre}" />
			</p:column>

			<p:column headerText="Descripción">
				<h:outputText value="#{producto.descripcion}" />
			</p:column>

			<p:column headerText="Fecha de Vencimiento">
				<h:outputText value="#{producto.fechaVencimiento}" />
			</p:column>

			<p:column filterBy="#{producto.tipo}" 
				headerText="Tipo"
				filterMatchMode="exact">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('productTable').filter()">
						<f:selectItem itemLabel="Select One" 
							itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItem itemLabel="Activo" itemValue="Activo" />
						<f:selectItem itemLabel="Pasivo" itemValue="Pasivo" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText value="#{producto.tipo}" />
			</p:column>

			<p:column headerText="Categoría">
				<h:outputText value="#{producto.categoria}" />
			</p:column>

			<p:column headerText="Frágil" 
				filterBy="#{producto.fragil}"
				filterMatchMode="equals">
				<f:facet name="filter">
					<p:selectOneButton onchange="PF('productTable').filter()">
						<f:converter converterId="javax.faces.Boolean" />
						<f:selectItem itemLabel="All" itemValue="" />
						<f:selectItem itemLabel="si" itemValue="true" />
						<f:selectItem itemLabel="no" itemValue="false" />
					</p:selectOneButton>
				</f:facet>
				<h:outputText value="#{producto.fragil}" />
			</p:column>

			<p:column headerText="Descripción Cliente">
				<h:outputText value="#{producto.descripcionCliente}" />
			</p:column>

			<p:column headerText="Opciones" 
					style="width:32px;text-align: center">
				<!--<p:commandButton icon="ui-icon-pencil" title="Editar"
					action="# {listadoBean.selectProducto}" style="color:red;">
					<f:setPropertyActionListener value="# {producto}"
						target=" #{listadoBean.productoSeleccionado}" />
				</p:commandButton>-->
				<p:commandButton icon="ui-icon-pencil" title="Editar"
					action="#{listadoBean.modificarProducto}" update=":formDialogo">
					<f:setPropertyActionListener value="#{producto}"
						target="#{listadoBean.productoSeleccionado}" />
				</p:commandButton>
			</p:column>
			<f:facet name="paginatorTopLeft">
				<p:commandButton type="button" icon="fa fa-sync" />
			</f:facet>

			<f:facet name="paginatorBottomRight">
				<p:commandButton type="button" icon="fa fa-cloud-upload" />
			</f:facet>
		</p:dataTable>
	</h:form>

	<p:dialog header="Registra Producto" modal="true" widgetVar="dlg1"
		height="400">
		<h:form id="formDialogo">
			<p:panel id="panel" style="margin-bottom:10px;">
				<h:panelGrid columns="2" cellpadding="5">

					<h:outputLabel for="name" value="Nombre:" />
					<p:inputText id="name"
						value="#{listadoBean.productoSeleccionado.nombre}" />

					<h:outputLabel for="descripcion" value="Descripción:" />
					<p:inputTextarea id="descripcion" cols="22"
						value="#{listadoBean.productoSeleccionado.descripcion}" />

					<h:outputLabel for="fechav" value="Fecha de Vencimiento:" />
					<p:calendar id="fechav" showOn="button"
						value="#{listadoBean.productoSeleccionado.fechaVencimiento}" />

					<p:outputLabel for="tipo" value="Tipo:" />
					<p:selectOneRadio id="tipo"
						value="#{listadoBean.productoSeleccionado.tipo}">
						<f:selectItem itemLabel="activo" itemValue="Activo" />
						<f:selectItem itemLabel="pasivo" itemValue="Pasivo" />
					</p:selectOneRadio>

					<h:outputText value="Frágil: " />
					<p:selectBooleanCheckbox
						value="#{listadoBean.productoSeleccionado.fragil}" />

					<p:outputLabel for="categoria" value="Categoria:" />
					<p:selectOneMenu id="categoria" value="#{listadoBean.codCategoria}"
						style="width:125px">
						<f:selectItem itemLabel="--Seleccione--" itemValue="" />
						<f:selectItems value="#{listadoBean.listaCategorias}"
							var="categoria" itemLabel="#{categoria.nombreCategoria}"
							itemValue="#{categoria.codCategoria}" />
					</p:selectOneMenu>

					<p:outputLabel for="editor" value="Descripción del Cliente:" />
					<p:editor id="editor" widgetVar="editorWidget"
						value="#{listadoBean.productoSeleccionado.descripcionCliente}"
						width="600" />
				</h:panelGrid>
			</p:panel>


			<p:commandButton value="Guardar" action="#{listadoBean.guardar}"
				update=":form :formDialogo" />
			<p:commandButton value="Cancelar" onclick="PF('dlg1').hide();" />

		</h:form>
	</p:dialog>

</h:body>
</html>