<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/style.css"/>
    </f:facet>
    <title>SIAS</title>
    <ui:insert name="head"/>
</h:head>

<h:body styleClass="loginbodyblue">

    <h:outputStylesheet name="css/core-layout.css" library="rio-layout"/>

    <p:growl showDetail="true"
             autoUpdate="true"/>

    <h:form id="form">
        <div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
            <div class="Wid100 OvHidden BigTopic Fs40"
                 style="color: #546e7a;font-weight: bold;">SIAS
            </div>
            <div class="Wid100 OvHidden BigTopic Fs35"
                 style="color: #546e7a;font-weight: bold;">Sistema de Administración y Seguimiento
            </div>
            <div class="Wid30 MarAuto WidAutoOnMobile">
                <div class="EmptyBox15"></div>
                <div class="Card ShadowEffect">
                    <div class="EmptyBox30"></div>
                    <img src="#{request.contextPath}/resources/img/logo.jpg" alt="Klorofil Logo"
                         style="height: 120px;"/>
                    <div class="EmptyBox20"></div>
                    <div class="Wid100">
                            <span class="ui-inputgroup-addon">
                                <i class="fa fa-user Fs25 green"></i>
                            </span>
                        <p:inputText placeholder="Usuario" value="#{loginBean.usuario}"
                                     styleClass="Wid60 TexAlCenter Fs18"/>
                    </div>
                    <div class="EmptyBox10"></div>
                    <div class="Wid100">
                            <span class="ui-inputgroup-addon">
                                <i class="fa fa-key Fs25 green"></i>
                            </span>
                        <p:inputText type="Contraseña" placeholder="Contraseña"
                                     value="#{loginBean.contrasenia}" styleClass="Wid60 TexAlCenter Fs18"/>
                    </div>
                    <div class="EmptyBox30"></div>
                    <div class="Wid100">
                        <p:commandButton value="Iniciar Sessión"
                                         icon="fa fa-sign-in"
                                         styleClass="Wid60 Fs18 White GreenButton"
                                         action="#{loginBean.mostrar}"
                                         update=":form"/>
                    </div>
                    <div class="EmptyBox30"></div>
                </div>
                <div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular WhiteBlue">
                </div>
            </div>
        </div>
    </h:form>
    <h:outputStylesheet name="css/animate.css" library="rio-layout"/>
    <h:outputStylesheet name="css/rio-font.css" library="rio-layout"/>
    <h:outputStylesheet name="css/ripple-effect.css" library="rio-layout"/>
    <h:outputStylesheet name="css/font-awesome.css" library="rio-layout"/>
    <h:outputStylesheet name="css/rio-layout.css" library="rio-layout"/>
</h:body>

</html>