<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<!--Mensaje de alerta -->
	<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"/>
	
	<h:form id="form">
		<p:panel id="panel" 
				header="Registro de Producto"
				style="margin-bottom:10px;">
				
			<h:panelGrid columns="2" cellpadding="5">

				<h:outputLabel for="name" value="Nombre:" />
				<p:inputText id="name" value="#{registroBean.producto.nombre}" />

				<h:outputLabel for="descripcion" value="Descripción:" />
				<p:inputTextarea id="descripcion" 
								cols="22"
								value="#{registroBean.producto.descripcion}" />

				<h:outputLabel for="fechav" value="Fecha de Vencimiento:" />
				<p:calendar id="fechav"
							value="#{registroBean.producto.fechaVencimiento}" showOn="button" />

				<p:outputLabel for="tipo" value="Tipo:" />
				<p:selectOneRadio id="tipo" value="#{registroBean.producto.tipo}">
					<f:selectItem itemLabel="activo" itemValue="Activo" />
					<f:selectItem itemLabel="pasivo" itemValue="Pasivo" />
				</p:selectOneRadio>

				<h:outputText value="Frágil: " />
				<p:selectBooleanCheckbox value="#{registroBean.producto.fragil}" />

				<p:outputLabel for="categoria" value="Categoria:" />
				<p:selectOneMenu id="categoria" 
									value="#{registroBean.idCategoria}"
									style="width:125px">
					<f:selectItem itemLabel="--SELECCIONE--"/>
					<f:selectItems value="#{registroBean.listaCategoria}" 
						var="categoria"
						itemLabel="#{categoria.nombreCategoria}"
						itemValue="{categoria.codCategoria}" />
				</p:selectOneMenu>

			</h:panelGrid>

			<p:outputLabel for="editor" value="Descripción del Cliente:" />
			<p:editor id="editor" 
						widgetVar="editorWidget"
						value="#{registroBean.producto.descripcionCliente}" width="600" />

		</p:panel>


		<p:commandButton value="Guardar" 
							update=":form:panel"
							action="#{registroBean.guardar}" />
		<p:commandButton value="Volver" 
							update=":form:panel"
							action="#{registroBean.volver}" />

	</h:form>

</h:body>
</html>